In [16]:
import pandas as pd
import requests
import json

In [17]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dacil\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dacil\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
#Abrir el archivo, creando un dataframe. Aseguraros de que no incluye la columna "Unnamed: 0"

df_videogames = pd.read_csv("videogames.csv", index_col = 0)

In [19]:
df_videogames.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [20]:
#Guardar el dataframe en formato Excel y después crear un dataframe con el Excel. ¿El dataframe es similar al que teníais antes?
df_videogames.to_excel("videogames.xlsx")

In [23]:
#Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv

df_videogames.to_csv("Files/videogames.csv")

In [48]:
#Abre el fichero json (con el json.load(f)) y haz las modificaciones necesarias para que tenga formato de tabla (Para esto necesitas normalizar los datos con el pd.json_normalize)

with open("Files/personal.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal = json.load(fichero)

df_personal = pd.json_normalize(personal["workers"])

df_personal.head()

  nombre  edad  experiencia   nivel  salario mascota
0    Ana    34            5  Senior    50000   gatos
1    Eva    37            2     Mid    35000     NaN
2  Marta    27            1  Junior    25000     NaN
3  Paula    30            3     Mid    35000     NaN

In [ ]:
#Guardar el json modificado y abrirlo en Pandas.¿Cómo queda ahora?
with open("personal_mod.json", "w") as fichero:
    json.dump(personal,fichero)

In [51]:
df = pd.read_json("personal_mod.json")
df.head()

                                             workers
0  {'nombre': 'Ana', 'edad': 34, 'experiencia': 5...
1  {'nombre': 'Eva', 'edad': 37, 'experiencia': 2...
2  {'nombre': 'Marta', 'edad': 27, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 30, 'experiencia':...